@import "./assets/fonts/stylesheet.css";
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
body {
  font-family: "IBM Plex Sans", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #2e3333;
  font-size: 32px;
  margin: 20px 0 50px 0;
  font-weight: bold;
}

h2 {
  color: #2e3333;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 20px 0;
}

h3 {
  color: #2e3333;
  font-size: 24px;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header {
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

header img {
  width: 160px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MAIN -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

main {
  background-color: #f3f5f5;
}

main .container {
  display: flex;
}

main section {
  display: flex;
  flex-direction: column;
  width: calc(100% - 350px);
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- BUCKET -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.basket {
  width: 350px;
}

.basket section {
  width: 100%;
}

.basket article {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
}

.basket article > div {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}
